@model Movie

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 card">
        <img src="~/images/@Model.ImgURL" class="img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <h5 class="card-title">Director: @Model.Director</h5>
            <p class="card-text">@Model.Description</p>
            <h3>SEK @Model.Price</h3>
            <button class="btn btn-primary md-2" onclick="Add(@Model.Id)">Add to cart</button>
        </div>
    </div>
</div>