@model IEnumerable<MovieStore.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to Movie Store </strong></h1>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-2 m-1">
            <img src="~/images/@item.ImgURL" class="card-img-top" alt="...">
            <div class="card-body">
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@item.Id">
                <h5 class="card-title">@item.Title</h5>
                <h5 class="card-title">@item.Director</h5>
                <p class="card-text">@item.Description</p>
                <h3>Price SEK @item.Price</h3>
                </a>
             </div>
             
             <div>
                 <button class="btn btn-primary md-2" onclick="Add(@item.Id)">Add to cart</button>

        </div>
        </div>       
    }
</div>
